<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm1500Mapper">
	<!-- Table 조회 -->
	<select id="cm1500Sel" parameterType="map" resultType="map">
		SELECT (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'OFFICE' AND SYS_ITEM_CD LIKE C.OFFICE_TYPE) AS OFFICE_TYPE,
			   (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'CARD' AND SYS_ITEM_CD LIKE C.COMPANY) AS COMPANY,
			   C.CARD_NUM,
			   FORMAT(C.CARD_CVS, '000') AS CARD_CVS,
			   C.CARD_DT,
			   C.USER_ID,
			   U.USER_NM,
			   C.ISSUANCE_DT,
			   C.PROVIDE_DT,
			   C.RETRIEVE_DT,
			   FORMAT(C.LIMIT, N'#,0') AS LIMIT,
			   C.MEMO
		FROM CARD_INFO C LEFT OUTER JOIN USER_INFO U ON C.USER_ID = U.USER_ID
		WHERE C.OFFICE_TYPE LIKE '%' + #{OFFICE_TYPE} + '%'
		  AND C.COMPANY LIKE '%' + #{COMPANY} + '%'
		  AND C.CARD_NUM LIKE '%' + #{CARD_NUM} + '%'
		  AND U.USER_NM LIKE '%' + #{USER_NM} + '%'
		ORDER BY C.OFFICE_TYPE, C.COMPANY, C.PROVIDE_DT;
	</select>
	
	<!-- 사용자 조회 팝업 Table 조회 -->
	<select id="cm1500UserSel" parameterType="map" resultType="map">
		SELECT U.USER_ID,
			   U.USER_NM,
			   U.DEPT_CD,
			   (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD LIKE U.DEPT_CD) AS DEPT_NM,
			   U.GRADE_CD,
			   (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'ROLE' AND SYS_ITEM_CD LIKE U.GRADE_CD) AS GRADE_NM
		FROM USER_INFO U
		WHERE U.USER_NM LIKE '%' + #{USER_NM} + '%';
	</select>
	
	<!-- Table 저장 -->
	<update id="cm1500Save" parameterType="map">
		EXEC CM1500_SAVE #{OFFICE}, #{USER_ID}, #{COMPANY}, #{CARD_NUM}, #{CVS}, #{LIMIT}, #{CARD_DT}, #{ISSUANCE_DT}, #{PROVIDE_DT}, #{RETRIEVE_DT}, #{MEMO}, #{REG_ID}
	</update>
</mapper>