<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm1700Mapper">
	<!-- 접속조회, 메뉴접근조회, 권한그룹변경조회 Table 조회 -->
	<select id="cm1700LogSel" parameterType="map" resultType="map">
		<choose>
			<when test='LOG_SEL.equals("CONNECT_INFO")'>
				SELECT
				SESSION_ID,
				DEPT_CD,
				(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD LIKE DEPT_CD) AS DEPT_NAME,
				USER_NAME,
				CONNECT_IP,
				CONNECT_START_DT
				FROM CONNECT_INFO
				WHERE CONVERT(DATE, CONNECT_START_DT) BETWEEN #{STARTDT_NUM} AND #{ENDDT_NUM}
				ORDER BY CONNECT_START_DT DESC;
			</when>
			<when test='LOG_SEL.equals("MENU_ACCESS")'>
				SELECT
				A.PROCESS_DT,
				A.USER_ID,
				B.USER_NM AS USER_NAME,
				A.MENU_NAME,
				A.USER_IP,
				A.DEPT_CD,
				(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD LIKE A.DEPT_CD) AS DEPT_NAME
				FROM LOG_ACCESS A LEFT OUTER JOIN USER_INFO B ON A.USER_ID = B.USER_ID
				WHERE CONVERT(DATE, A.PROCESS_DT) BETWEEN #{STARTDT_NUM} AND #{ENDDT_NUM}
				ORDER BY A.PROCESS_DT DESC;
			</when>
			<when test='LOG_SEL.equals("AHTU_GROUP")'>
				SELECT
				A.PROCESS_DT,
				A.USER_ID,
				B.USER_NM AS USER_NAME,
				A.USER_IP,
				A.EVNT_NM,
				A.DEPT_CD,
				(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD LIKE A.DEPT_CD) AS DEPT_NAME
				FROM LOG_USER_AUTH A LEFT OUTER JOIN USER_INFO B ON A.USER_ID = B.USER_ID
				WHERE CONVERT(DATE, A.PROCESS_DT) BETWEEN #{STARTDT_NUM} AND #{ENDDT_NUM}
				ORDER BY A.PROCESS_DT DESC;
			</when>
			<when test='LOG_SEL.equals("USER_INFO")'>
				SELECT
				SYS_ID,
				PROCESS_DT,
				REG_USER,
				REG_IP,
				EVNT_NM,
				EVNT_SVRY,
				HOST_NM,
				USER_ID,
				USER_NM,
				(SELECT DEPT_NAME FROM DEPT_INFO WHERE DEPT_ID = DEPT_CD) AS DEPT_NM,
				dbo.FN_COMMON_NM('ROLE', GRADE_CD) AS GRADE,
				AUTH_TYPE_CD,
				ENTER_DT
				FROM LOG_USER_INFO
				WHERE CONVERT(DATE, PROCESS_DT) BETWEEN #{STARTDT_NUM} AND #{ENDDT_NUM}
				ORDER BY PROCESS_DT DESC;
			</when>
		</choose>
	</select>
</mapper>