<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1100Mapper">
	<!-- Table 조회 -->
	<select id="an1100Sel" parameterType="map" resultType="map">
		SELECT U.USER_NM,
			   U.GRADE_CD,
			   (SELECT dbo.FN_COMMON_NM('ROLE', U.GRADE_CD)) AS GRADE_NM,
			   U.ENTER_DT,
			   HI.HOLIDAY_TOTAL,
			   HI.HOLIDAY_USE,
			   HI.HOLIDAY_REMAIN,
			   HI.HOLIDAY_DEDUCT,
			   HI.USE_START,
			   HI.USE_END,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '01' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS JANUARY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '02' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS FEBRUARY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '03' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS MARCH,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '04' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS APRIL,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '05' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS MAY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '06' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS JUNE,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '07' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS JULY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '08' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS AUGUST,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '09' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS SEPTEMBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '10' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS OCTOBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '11' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS NOVEMBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '12' AND (HP.HOLIDAY_START BETWEEN HI.USE_START AND USE_END AND HP.HOLIDAY_END BETWEEN HI.USE_START AND USE_END)THEN HP.HOLIDAY_CNT ELSE 0 END) AS DECEMBER
		FROM USER_INFO U
		    INNER JOIN HOLIDAY_INFO HI
		        ON U.USER_ID = HI.USER_ID
		               AND (YEAR (CONVERT (CHAR (10), HI.USE_START, 23)) = #{YEAR} OR YEAR (CONVERT (CHAR (10), HI.USE_END, 23)) = #{YEAR})
		    INNER JOIN HOLIDAY_PERSON HP ON U.USER_ID = HP.USER_ID
		                                        AND HP.HOLIDAY_TYPE NOT IN('OFFICE02')
		WHERE U.DEPT_CD LIKE '%' + #{DEPT} + '%'
		  AND U.USER_NM LIKE '%' + #{USER_NM} + '%'
		  AND U.USE_YN LIKE 'Y'
		  AND HP.HOLIDAY_TYPE IN ('ANNUAL', 'HALF01', 'HALF02', 'OFFICE01')
		  AND HP.USE_YN LIKE 'Y'
		GROUP BY U.USER_NM,
				 U.GRADE_CD,
				 U.ENTER_DT,
				 HI.HOLIDAY_TOTAL,
				 HI.HOLIDAY_USE,
				 HI.HOLIDAY_REMAIN,
				 HI.HOLIDAY_DEDUCT,
				 HI.USE_START,
				 HI.USE_END
		ORDER BY U.USER_NM,
		         HI.USE_START DESC
	</select>
</mapper>