<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm1000Mapper">
	<!-- Head Table 조회 -->
    <select id="cm1000HeadSel" parameterType="map" resultType="map">
		EXEC CM1000_HEAD_SEL #{SYS_CLASS_CD}, #{SYS_CLASS_NAME}, #{USE_YN}
    </select>
    
    <!-- Detail Table 조회 -->
    <select id="cm1000DetailSel" parameterType="map" resultType="map">
		EXEC CM1000_DETAIL_SEL #{SYS_CLASS_CD}, #{USE_YN}
    </select>
    
    <!-- Head Table Cnt 조회 -->
    <select id="cm1000HeadCnt" parameterType="map" resultType="map">
		EXEC CM1000_HEAD_CNT #{SYS_CLASS_CD}
    </select>
    
    <!-- Detail Table Cnt 조회 -->
    <select id="cm1000DetailCnt" parameterType="map" resultType="map">
		EXEC CM1000_DETAIL_CNT #{SYS_CLASS_CD}, #{SYS_ITEM_CD}
    </select>
    
    <!-- Head Table 저장 -->
    <update id="cm1000HeadSave" parameterType="map">
		EXEC CM1000_HEAD_SAVE #{SYS_CLASS_CD}, #{SYS_CLASS_NAME}, #{USE_YN}, #{MEMO}, #{USER_ID}
    </update>
    
    <!-- Detail Table 저장 -->
    <update id="cm1000DetailSave" parameterType="map">
		EXEC CM1000_DETAIL_SAVE #{SYS_CLASS_CD}, #{SYS_ITEM_CD}, #{SYS_ITEM_NAME}, #{USE_YN}, #{MEMO}, #{USER_ID}
    </update>
    
    <update id="cm1000HeadDel" parameterType="map">
		EXEC CM1000_HEAD_DEL #{SYS_CLASS_CD}, #{USER_ID}
    </update>
</mapper>