<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm1000Mapper">
	<!-- Head Table 조회 -->
    <select id="cm1000HeadSel" parameterType="map" resultType="map">
		SELECT S.SYS_CLASS_CD,
               S.SYS_CLASS_NAME,
               (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'USE' AND SYS_ITEM_CD = S.USE_YN) AS USE_YN,
               S.MEMO
        FROM SYSCODE_HEAD S
        WHERE S.SYS_CLASS_CD LIKE '%' + #{SYS_CLASS_CD} + '%'
          AND S.SYS_CLASS_NAME LIKE '%' + #{SYS_CLASS_NAME} + '%'
          AND USE_YN = #{USE_YN}
    </select>
    
    <!-- Detail Table 조회 -->
    <select id="cm1000DetailSel" parameterType="map" resultType="map">
		SELECT S.SYS_CLASS_CD,
               S.SYS_ITEM_CD,
               S.SYS_ITEM_NAME,
               (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'USE' AND SYS_ITEM_CD = S.USE_YN) AS USE_YN,
               S.MEMO
        FROM SYSCODE_DETAIL S
        WHERE S.SYS_CLASS_CD = #{SYS_CLASS_CD};
    </select>
    
    <!-- Head Table Cnt 조회 -->
    <select id="cm1000HeadCnt" parameterType="map" resultType="map">
        SELECT COUNT(SYS_CLASS_CD) AS CNT
        FROM SYSCODE_HEAD
        WHERE SYS_CLASS_CD = #{SYS_CLASS_CD};
    </select>
    
    <!-- Detail Table Cnt 조회 -->
    <select id="cm1000DetailCnt" parameterType="map" resultType="map">
        SELECT COUNT(SYS_ITEM_CD) AS CNT
        FROM SYSCODE_DETAIL
        WHERE SYS_CLASS_CD = #{SYS_CLASS_CD}
          AND SYS_ITEM_CD = #{SYS_ITEM_CD};
    </select>
    
    <!-- Head Table 저장 -->
    <insert id="cm1000HeadSave" parameterType="map">
        INSERT (SYS_CLASS_CD, SYS_CLASS_NAME, USE_YN, MEMO REG_ID, REG_DT)
        VALUES(#{SYS_CLASS_CD}, #{SYS_CLASS_NAME}, #{USE_YN}, #{MEMO}, #{USER_ID}, CONVERT(VARCHAR(19), GETDATE(), 121)
    </insert>

    <update id="cm1000HeadUpdate" parameterType="map">
        UPDATE SYSCODE_HEAD SET SYS_CLASS_NAME = #{SYS_CLASS_NAME}, USE_YN = #{USE_YN}, MEMO = #{MEMO},
                                UPT_ID= #{USER_ID}, UPT_DT = CONVERT(VARCHAR(19), GETDATE(), 121)
        WHERE SYS_CLASS_CD LIKE #{SYS_CLASS_CD}
    </update>

    <select id="cm1000HeadCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM SYSCODE_HEAD WHERE SYS_CLASS_CD LIKE #{SYS_CLASS_CD}
    </select>

    
    <!-- Detail Table 저장 -->
    <insert id="cm1000DetailSave" parameterType="map">
        INSERT INTO SYSCODE_DETAIL (SYS_CLASS_CD, SYS_ITEM_CD, SYS_ITEM_NAME, USE_YN, MEMO, REG_ID, REG_DT)
        VALUES(#{SYS_CLASS_CD}, #{SYS_ITEM_CD}, #{SYS_ITEM_NAME}, #{USE_YN}, #{MEMO}, #{USER_ID}, CONVERT(VARCHAR(19), GETDATE(), 121))
    </insert>

    <update id="cm1000DetailUpdate" parameterType="map">
        UPDATE SYSCODE_DETAIL
        SET SYS_ITEM_NAME = #{SYS_ITEM_NAME}, USE_YN = #{USE_YN}, MEMO = #{MEMO}, UPT_ID = #{USER_ID}, UPT_DT = CONVERT(VARCHAR(19), GETDATE(), 121)
        WHERE SYS_CLASS_CD LIKE #{SYS_CLASS_CD} AND SYS_ITEM_CD LIKE #{SYS_ITEM_CD}
    </update>

    <select id="cm1000DetailCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE #{SYS_CLASS_CD} AND SYS_ITEM_CD LIKE #{SYS_ITEM_CD}
    </select>

</mapper>