<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cm1200Mapper">
	<!-- Table 조회 -->
	<select id="cm1200Sel" parameterType="map" resultType="map">
		SELECT U.USER_ID,
		       U.USER_NUM,
			   U.USER_NM,
			   (SELECT DEPT_PID FROM DEPT_INFO WHERE DEPT_ID LIKE U.DEPT_CD) AS PDEPT_CD,
			   (SELECT DEPT_NAME FROM DEPT_INFO WHERE DEPT_ID LIKE (SELECT DEPT_PID FROM DEPT_INFO WHERE DEPT_ID LIKE U.DEPT_CD)) AS PDEPT_NM,
			   U.DEPT_CD,
			   (SELECT DEPT_NAME FROM DEPT_INFO WHERE DEPT_ID LIKE U.DEPT_CD) AS DEPT_NM,
			   U.GRADE_CD,
			   (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_ITEM_CD LIKE U.GRADE_CD) AS GRADE_NM,
			   U.ENTER_DT,
			   U.BIRTHDAY,
			   U.EMAIL,
			   U.PHONE_NUM,
			   (SELECT dbo.FN_COMMON_NM('USE', U.USE_YN)) AS USE_YN,
			   U.AUTH_TYPE_CD,
			   (SELECT AUTH_TYPE_NAME FROM AUTH_TYPE_HEAD WHERE AUTH_TYPE_CD = U.AUTH_TYPE_CD) AS AUTH_TYPE_NAME,
			   U.MEMO
		FROM USER_INFO U
		WHERE U.USER_ID LIKE '%' + #{USER_ID} + '%'
		  AND U.USER_NM LIKE '%' + #{USER_NM} + '%'
		ORDER BY U.USER_NM;
	</select>
	
	<!-- 사번 조회 팝업 Table 조회 -->
	<select id="cm1200DeptSel" parameterType="map" resultType="map">
		SELECT DISTINCT D.DEPT_PID,
						(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD = D.DEPT_PID) AS DEPT_PNM,
					    D.DEPT_ID,
						(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD = D.DEPT_ID) AS DEPT_NM
		FROM DEPT_INFO D LEFT OUTER JOIN SYSCODE_DETAIL S ON S.SYS_CLASS_CD = 'DEPT'
			AND S.SYS_ITEM_CD = D.DEPT_ID
			AND S.USE_YN LIKE 'Y'
		WHERE S.SYS_ITEM_NAME LIKE '%' + #{DEPT_NM} + '%'
		  AND D.USE_YN LIKE 'Y';
	</select>
	
	<!-- 권한 조회 팝업 Table 조회 -->
	<select id="cm1200AuthSel" parameterType="map" resultType="map">
		SELECT AUTH_TYPE_CD,
			   AUTH_TYPE_NAME
		FROM AUTH_TYPE_HEAD
		WHERE AUTH_TYPE_CD LIKE '%' + #{AUTH_TYPE_CD} + '%'
		  AND USE_YN = 'Y';
	</select>
	
	<!-- 사용자ID 중복 확인 -->
	<select id="cm1200Verification" parameterType="map" resultType="map">
		SELECT
		<if test='USER_ID != Null and !USER_ID.equals("")'>
		    COUNT(*) AS USER_ID
		</if>
		<if test='USER_NUM != Null and !USER_NUM.equals("")'>
		    COUNT(*) AS USER_NUM
		</if>
		FROM USER_INFO
		WHERE
		<if test='USER_ID != Null and !USER_ID.equals("")'>
			USER_ID LIKE #{USER_ID};
		</if>
		<if test='USER_NUM != Null and !USER_NUM.equals("")'>
			USER_NUM LIKE #{USER_NUM};
		</if>
	</select>
	
	<!-- Table 저장 -->
	<insert id="cm1200Save" parameterType="map">
		INSERT USER_INFO (USER_ID, PASSWORD, USER_NUM,USER_NM, PDEPT_CD, DEPT_CD, GRADE_CD, ENTER_DT,
		    AUTH_TYPE_CD, USE_YN, EMAIL, PHONE_NUM, BIRTHDAY, MEMO, REG_ID, REG_DT)
		VALUES (#{USER_ID}, #{PASSWORD}, #{USER_NUM}, #{USER_NM}, #{PDEPT_CD}, #{DEPT_CD}, #{GRADE_CD}, #{ENTER_DT},
				#{AUTH_TYPE_CD}, #{USE_YN}, #{EMAIL}, #{PHONE_NUM}, #{BIRTHDAY}, #{MEMO}, #{REG_USERID},
				CONVERT(VARCHAR(19), getdate(), 121));
	</insert>

	<update id="cm1200Update" parameterType="map">
		UPDATE USER_INFO SET USER_NM      = #{USER_NM},
		                     USER_NUM     = #{USER_NUM},
							 PDEPT_CD     = #{PDEPT_CD},
							 DEPT_CD      = #{DEPT_CD},
							 GRADE_CD     = #{GRADE_CD},
							 ENTER_DT     = #{ENTER_DT},
							 AUTH_TYPE_CD = #{AUTH_TYPE_CD},
							 USE_YN       = #{USE_YN},
							 EMAIL        = #{EMAIL},
							 PHONE_NUM    = #{PHONE_NUM},
							 BIRTHDAY     = #{BIRTHDAY},
							 MEMO         = #{MEMO},
							 UPT_ID       = #{REG_USERID},
							 UPT_DT       = CONVERT(VARCHAR(19), GETDATE(), 121)
		                 WHERE USER_ID LIKE #{USER_ID}
	</update>

	<!-- 사용자 추가 시 TABLE HOLIDAY_INFO에 추가 -->
	<insert id="cm1200SaveHolidayInfo" parameterType="map">
		INSERT INTO HOLIDAY_INFO(USER_ID, HOLIDAY_TOTAL, HOLIDAY_USE, HOLIDAY_REMAIN, HOLIDAY_DEDUCT, REG_ID, REG_DT)
		VALUES(#{USER_ID}, 0.0, 0.0, 0.0, 0.0, #{REG_USERID}, GETDATE());
	</insert>
</mapper>