<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cm1200Mapper">
	<!-- Table 조회 -->
	<select id="cm1200Sel" parameterType="map" resultType="map">
		SELECT A.USER_ID,
			   A.USER_NM,
			   (SELECT DEPT_PID FROM DEPT_INFO WHERE DEPT_ID LIKE A.DEPT_CD) AS PDEPT_CD,
			   (SELECT DEPT_NAME FROM DEPT_INFO WHERE DEPT_ID LIKE (SELECT DEPT_PID FROM DEPT_INFO WHERE DEPT_ID LIKE A.DEPT_CD)) AS PDEPT_NM,
			   A.DEPT_CD,
			   (SELECT DEPT_NAME FROM DEPT_INFO WHERE DEPT_ID LIKE A.DEPT_CD) AS DEPT_NM,
			   A.GRADE_CD,
			   (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_ITEM_CD LIKE A.GRADE_CD) AS GRADE_NM,
			   A.ENTER_DT,
			   A.BIRTHDAY,
			   A.EMAIL,
			   A.PHONE_NUM,
			   (SELECT dbo.FN_COMMON_NM('USE', A.USE_YN)) AS USE_YN,
			   A.AUTH_TYPE_CD,
			   (SELECT AUTH_TYPE_NAME FROM AUTH_TYPE_HEAD WHERE AUTH_TYPE_CD = A.AUTH_TYPE_CD) AS AUTH_TYPE_NAME,
			   A.MEMO
		FROM USER_INFO A
		WHERE A.USER_ID LIKE '%' + #{USER_ID} + '%'
		  AND A.USER_NM LIKE '%' + #{USER_NM} + '%'
		ORDER BY A.USER_NM;
	</select>
	
	<!-- 사번 조회 팝업 Table 조회 -->
	<select id="cm1200DeptSel" parameterType="map" resultType="map">
		EXEC CM1200_DEPT_SEL #{DEPT_NM}
	</select>
	
	<!-- 권한 조회 팝업 Table 조회 -->
	<select id="cm1200AuthSel" parameterType="map" resultType="map">
		EXEC CM1200_AUTH_SEL #{AUTH_TYPE_CD}
	</select>
	
	<!-- 사용자ID 중복 확인 -->
	<select id="cm1200Verification" parameterType="map" resultType="map">
		EXEC CM1200_DETAIL_CNT #{USER_ID}
	</select>
	
	<!-- Table 저장 -->
	<update id="cm1200Save" parameterType="map">
		EXEC CM1200_SAVE #{USER_ID}, #{USER_NM}, #{PDEPT_CD}, #{DEPT_CD}, #{GRADE_CD}, #{ENTER_DT}, #{AUTH_TYPE_CD}, #{USE_YN}, #{EMAIL}, #{PHONE_NUM}, #{BIRTHDAY}, #{MEMO}, #{REG_USERID}
	</update>

	<!-- 사용자 추가 시 TABLE HOLIDAY_INFO에 추가 -->
	<insert id="cm1200SaveHolidayInfo" parameterType="map">
		INSERT INTO HOLIDAY_INFO(USER_ID, HOLIDAY_TOTAL, HOLIDAY_USE, HOLIDAY_REMAIN, HOLIDAY_DEDUCT, REG_ID, REG_DT)
		VALUES(#{USER_ID}, 0.0, 0.0, 0.0, 0.0, #{REG_USERID}, GETDATE());
	</insert>
</mapper>