<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cm1200Mapper">
	<!-- Table 조회 -->
	<select id="cm1200Sel" parameterType="map" resultType="map">
		EXEC CM1200_SEL #{USER_ID}, #{USER_NM}
	</select>
	
	<!-- 사번 조회 팝업 Table 조회 -->
	<select id="cm1200DeptSel" parameterType="map" resultType="map">
		EXEC CM1200_DEPT_SEL #{DEPT_NM}
	</select>
	
	<!-- 권한 조회 팝업 Table 조회 -->
	<select id="cm1200AuthSel" parameterType="map" resultType="map">
		EXEC CM1200_AUTH_SEL #{AUTH_TYPE_CD}
	</select>
	
	<!-- 사용자ID 중복 확인 -->
	<select id="cm1200Verification" parameterType="map" resultType="map">
		EXEC CM1200_DETAIL_CNT #{USER_ID}
	</select>
	
	<!-- Table 저장 -->
	<update id="cm1200Save" parameterType="map">
		EXEC CM1200_SAVE #{USER_ID}, #{USER_NM}, #{PDEPT_CD}, #{DEPT_CD}, #{GRADE_CD}, #{ENTER_DT}, #{AUTH_TYPE_CD}, #{USE_YN}, #{EMAIL}, #{PHONE_NUM}, #{BIRTHDAY}, #{MEMO}, #{REG_USERID}
	</update>

	<!-- 사용자 추가 시 TABLE HOLIDAY_INFO에 추가 -->
	<insert id="cm1200SaveHolidayInfo" parameterType="map">
		INSERT INTO HOLIDAY_INFO(USER_ID, HOLIDAY_TOTAL, HOLIDAY_USE, HOLIDAY_REMAIN, HOLIDAY_DEDUCT, REG_ID, REG_DT)
		VALUES(#{USER_ID}, 0.0, 0.0, 0.0, 0.0, #{REG_USERID}, GETDATE());
	</insert>
</mapper>