<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm1800Mapper">
	<!-- Head Table 조회 -->
    <select id="cm1800HeadSel" parameterType="map" resultType="map">
		EXEC CM1800_SEL #{NOTICES_NO}, #{WRITER_ID}
    </select>
    
    <!-- Detail Table 조회 -->
    <select id="cm1800HeadDetailSel" parameterType="map" resultType="map">
		EXEC NOTICES_DETAIL_SEL #{NOTICES_NO}
    </select>
    
    <!-- Head Table 저장 -->
    <update id="cm1800HeadSave" parameterType="map">
		EXEC CM1800_SAVE #{NOTICES_NO}, #{START_DT}, #{END_DT}, #{TITLE}, #{CONTENTS}, #{WRITER_NAME}, #{REG_ID}, #{DISPLAY_YN}
    </update>
</mapper>