<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1000Mapper">
	<!-- Table 조회 -->
	<select id="an1000InfoSel" parameterType="map" resultType="map">
		EXEC AN1000_SEL_INFO #{USER_ID}
	</select>
	
	<!-- Table 조회 -->
	<select id="an1000Sel" parameterType="map" resultType="map">
		EXEC AN1000_SEL #{USER_ID}
	</select>

	<insert id="an1000Save" parameterType="map">
		EXEC AN1000_SAVE #{USER_ID}, #{HOLIDAY_TYPE}, #{HOLIDAY_CNT}, #{HOLIDAY_START}, #{HOLIDAY_END},
		#{HOLIDAY_REASON}, #{TASK}, #{ACQUIRER}, #{EMERGENCY}, #{REG_ID}, #{DEPT_CD}, #{POST_CD}
	</insert>

	<update id="an1000Update" parameterType="map">
		UPDATE HOLIDAY_PERSON SET UPT_DT = GETDATE(), UPT_ID = #{USER_ID}, USE_YN = 'N'
		                      WHERE	USER_ID = #{USER_ID} AND
		                          	HOLIDAY_START = #{HOLIDAY_START} AND
		                          	HOLIDAY_END = #{HOLIDAY_END} AND
		                          	HOLIDAY_CNT = #{HOLIDAY_CNT} AND
		                          	HOLIDAY_REASON = #{HOLIDAY_REASON} AND
		                          	HOLIDAY_TYPE = #{HOLIDAY_TYPE} AND
									USE_YN = 'Y'
	</update>

	<select id="an1000HolidayOfficeSel" resultType="String">
		SELECT MIN(OFFICE_HOLIDAY) FROM HOLIDAY_OFFICE
		                           WHERE DATEPART(MONTH, CONVERT(DATE, OFFICE_HOLIDAY)) = DATEPART(MONTH, CONVERT(DATE, GETDATE()))
	</select>

	<select id="an1000HolidayOfficeByUser" resultType="Integer">
		DECLARE @HOLIDAY VARCHAR(10) = (SELECT MIN(hc.OFFICE_HOLIDAY) AS companyday FROM HOLIDAY_OFFICE hc WHERE DATEPART(MONTH, CONVERT(DATE, hc.OFFICE_HOLIDAY)) = DATEPART(MONTH, CONVERT(DATE, getdate())))
		SELECT COUNT(*) FROM HOLIDAY_PERSON WHERE USER_ID = #{USER_ID} AND HOLIDAY_START = @HOLIDAY AND HOLIDAY_END = @HOLIDAY AND HOLIDAY_TYPE IN ('OFFICE01', 'OFFICE02')
	</select>

	<resultMap id="holidayInfo" type="com.hs.an.dto.HolidayInfoDto">
		<result property="user_id" column="USER_ID"/>
		<result property="holiday_total" column="HOLIDAY_TOTAL"/>
		<result property="holiday_use" column="HOLIDAY_USE"/>
		<result property="holiday_remain" column="HOLIDAY_REMAIN"/>
		<result property="holiday_deduct" column="HOLIDAY_DEDUCT"/>
	</resultMap>

	<select id="an1000HolidayInfoSel" parameterType="String" resultMap="holidayInfo">
		SELECT USER_ID, HOLIDAY_TOTAL, HOLIDAY_USE, HOLIDAY_REMAIN, HOLIDAY_DEDUCT FROM HOLIDAY_INFO WHERE USER_ID = #{USER_ID}
	</select>

	<update id="an1000HolidayInfoUpdate" parameterType="com.hs.an.dto.HolidayInfoDto">
		UPDATE HOLIDAY_INFO SET HOLIDAY_TOTAL = #{holiday_total},
		                        HOLIDAY_USE = #{holiday_use},
		                        HOLIDAY_REMAIN = #{holiday_remain},
		                        HOLIDAY_DEDUCT = #{holiday_deduct}
		WHERE USER_ID = #{user_id}
	</update>

</mapper>