<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1000Mapper">
	<!-- Table 조회 -->
	<select id="an1000InfoSel" parameterType="map" resultType="map">
		EXEC AN1000_SEL_INFO #{USER_ID}
	</select>
	
	<!-- Table 조회 -->
	<select id="an1000Sel" parameterType="map" resultType="map">
		EXEC AN1000_SEL #{USER_ID}
	</select>

	<insert id="an1000Save" parameterType="map">
		EXEC AN1000_SAVE #{USER_ID}, #{HOLIDAY_TYPE}, #{HOLIDAY_CNT}, #{HOLIDAY_START}, #{HOLIDAY_END},
		#{HOLIDAY_REASON}, #{TASK}, #{ACQUIRER}, #{EMERGENCY}, #{REG_ID}, #{REG_DT}, #{DEPT_CD}, #{POST_CD}
	</insert>

	<update id="an1000Update" parameterType="map">
		UPDATE HOLIDAY_PERSON SET UPT_DT = GETDATE(), UPT_ID = #{USER_ID}
		                      WHERE HOLIDAY_START = #{HOLIDAY_START} AND
		                          	HOLIDAY_END = #{HOLIDAY_END} AND
		                          	HOLIDAY_CNT = #{HOLIDAY_CNT} AND
		                          	HOLIDAY_REASON = #{HOLIDAY_REASON} AND
		                          	HOLIDAY_TYPE = #{HOLIDAY_TYPE} AND
								  	UPT_DT IS NULL AND
								  	UPT_ID IS NULL
		EXEC AN1000_UPDATE
	</update>

	<select id="an1000HolidayOfficeSel" resultType="String">
		SELECT MIN(OFFICE_HOLIDAY) FROM HOLIDAY_OFFICE
		                           WHERE DATEPART(MONTH, CONVERT(DATE, OFFICE_HOLIDAY)) = DATEPART(MONTH, CONVERT(DATE, GETDATE()))
	</select>

</mapper>