<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1100Mapper">
	<!-- Table 조회 -->
	<select id="an1100Sel" parameterType="map" resultType="map">
		SELECT U.USER_NM,
			   U.GRADE_CD,
			   (SELECT dbo.FN_COMMON_NM('ROLE', U.GRADE_CD)) AS GRADE_NM,
			   U.ENTER_DT,
			   HI.HOLIDAY_TOTAL,
			   HI.HOLIDAY_USE,
			   HI.HOLIDAY_REMAIN,
			   HI.HOLIDAY_DEDUCT,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '01' THEN 1 ELSE 0 END) AS JANUARY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '02' THEN 1 ELSE 0 END) AS FEBRUARY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '03' THEN 1 ELSE 0 END) AS MARCH,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '04' THEN 1 ELSE 0 END) AS APRIL,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '05' THEN 1 ELSE 0 END) AS MAY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '06' THEN 1 ELSE 0 END) AS JUNE,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '07' THEN 1 ELSE 0 END) AS JULY,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '08' THEN 1 ELSE 0 END) AS AUGUST,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '09' THEN 1 ELSE 0 END) AS SEPTEMBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '10' THEN 1 ELSE 0 END) AS OCTOBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '11' THEN 1 ELSE 0 END) AS NOVEMBER,
			   SUM(CASE WHEN SUBSTRING(HP.HOLIDAY_START, 6, 2) = '12' THEN 1 ELSE 0 END) AS DECEMBER
		FROM USER_INFO U
				 LEFT OUTER JOIN HOLIDAY_INFO HI ON U.USER_ID = HI.USER_ID
				 LEFT OUTER JOIN HOLIDAY_PERSON HP ON U.USER_ID = HP.USER_ID
				                                          AND HP.HOLIDAY_TYPE IN('ANNUAL', 'HALF01', 'HALF02', 'OFFICE01')
				                                          AND YEAR (CONVERT (CHAR (10), HP.HOLIDAY_START, 23)) = #{YEAR}
		WHERE U.DEPT_CD LIKE '%' + #{DEPT} + '%'
		  AND U.USER_NM LIKE '%' + #{USER_NM} + '%'
		  AND U.USE_YN LIKE 'Y'
		GROUP BY U.USER_NM,
				 U.GRADE_CD,
				 U.ENTER_DT,
				 HI.HOLIDAY_TOTAL,
				 HI.HOLIDAY_USE,
				 HI.HOLIDAY_REMAIN,
				 HI.HOLIDAY_DEDUCT;
	</select>
</mapper>