<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1100Mapper">
	<!-- Table 조회 -->
	<select id="an1100Sel" parameterType="map" resultType="map">
		EXEC AN1100_SEL #{YEAR}, #{DEPT}, #{USER_NM}
	</select>
</mapper>