<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="an1200Mapper">
	<!-- Table 조회 -->
	<select id="an1200Sel" parameterType="map" resultType="map">
		SELECT U.USER_ID,
		U.USER_NM,
		U.GRADE_CD,
		(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'ROLE' AND SYS_ITEM_CD LIKE U.GRADE_CD) AS GRADE_NM,
		U.DEPT_CD,
		(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'DEPT' AND SYS_ITEM_CD LIKE U.DEPT_CD) AS DEPT_NM,
		(SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL WHERE SYS_CLASS_CD LIKE 'HOLIDAY' AND SYS_ITEM_CD LIKE H.HOLIDAY_TYPE) AS HOLIDAY_TYPE,
		H.HOLIDAY_CNT,
		H.HOLIDAY_START,
		H.HOLIDAY_END,
		H.HOLIDAY_REASON
		<choose>
			<when test='USE.equals("Y")'>
				FROM USER_INFO U INNER JOIN HOLIDAY_PERSON H
			</when>
			<otherwise>
				FROM USER_INFO U LEFT OUTER JOIN HOLIDAY_PERSON H
			</otherwise>
		</choose>
		ON U.USER_ID = H.USER_ID
		AND #{DATE} BETWEEN H.HOLIDAY_START AND H.HOLIDAY_END
		WHERE U.DEPT_CD LIKE '%' + #{DEPT} + '%' AND U.USER_NM LIKE '%' + #{USER_NM} + '%' AND U.USE_YN = 'Y'
		<if test='USE.equals("N")'> AND H.USER_ID IS NULL</if>
		ORDER BY H.HOLIDAY_START DESC, U.USER_NM ASC;
	</select>

	<select id="an1200count" resultType="int">
		SELECT COUNT(*) FROM USER_INFO WHERE USE_YN = 'Y'
	</select>
</mapper>