<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="co1000Mapper">
	<!-- 임시 Table 조회 -->
	<select id="co1000SelTemp" parameterType="map" resultType="map">
		EXEC CO1000_SEL_TEMP #{FILE_NM}
	</select>

	<insert id="co1000InsTmp" parameterType="map">
		EXEC CO1000_INS_TMP #{COMPANY}, #{CARD_NUM}, #{USE_DATE}, #{APPROVAL_NUM}, #{ACCOUNT}, #{APPROVAL}, #{REFUND}, #{FILE_NM}
	</insert>

	<insert id="co1000Ins" parameterType="map">
		EXEC CO1000_INS #{COMPANY}, #{CARD_NUM}, #{USE_DATE}, #{APPROVAL_NUM}, #{ACCOUNT}, #{APPROVAL}, #{REFUND}, #{FILE_NM}
	</insert>

	<insert id="co1000Save" parameterType="map">
		EXEC CO1000_SAVE #{REG_ID}, #{FILE_NM}
	</insert>

	<delete id="co1000Delete">
		DELETE FROM CORPORATE_TEMP
	</delete>
</mapper>