<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="co1100Mapper">
	<!-- Table 조회 -->
	<select id="co1100Sel" parameterType="map" resultType="map">
		SELECT U.USER_ID,
			   C.USE_DATE,
			   C.APPROVAL_NUM,
			   C.SALES_NUM,
			   C.ACCOUNT_SUB,
			   C.ACCOUNT,
			   C.BREAKDOWN,
			   CASE WHEN C.REFUND != 0 THEN 0 ELSE C.APPROVAL END AS APPROVAL,
			   C.REFUND,
			   C.MEMO,
			   C.COMPANY,
			   C.CARD_NUM
		FROM CORPORATECARD_INFO C LEFT OUTER JOIN USER_INFO U ON C.USER_ID = U.USER_ID
		WHERE C.COMPANY LIKE '%' + #{COMPANY} + '%'
		  AND LEFT(C.USE_DATE, 4) = LEFT(#{DATE}, 4)
		  AND SUBSTRING(C.USE_DATE, 6, 2) = SUBSTRING(#{DATE}, 6, 2)
		<if test='CARD_NUM != "전체"'>
			AND RIGHT(C.CARD_NUM, 4) = RIGHT(#{CARD_NUM}, 4)
		</if>
		<if test='DEPT_CD != "M"'>
			AND RIGHT(C.CARD_NUM, 4) IN (SELECT RIGHT(CARD_NUM, 4) FROM CARD_INFO WHERE USER_ID LIkE #{USER_ID})
		</if>
		ORDER BY C.USE_DATE;
	</select>

	<select id="co1100SelProject" parameterType="map" resultType="map">
		SELECT CONCAT(SALES_NUM, '-', REVISION) AS SALES_NUM,
		       PROJECT_NM
		FROM SALES_INQUIRY_INFO
		WHERE SALES_CONFIRM = 'Y'
		  AND PROJECT_NM LIKE '%' + #{PROJECT_NM} + '%'
	</select>

	<select id="co1100SelList" parameterType="map" resultType="map">
		EXEC CO1100_SEL_LIST #{COMPANY}, #{CARD_NUM}, #{DATE}
	</select>

	<select id="co1101SelList" parameterType="map" resultType="map">
		EXEC CO1101_SEL_LIST #{COMPANY}, #{CARD_NUM}, #{DATE}
	</select>

	<update id="co1100Save" parameterType="map">
		UPDATE CORPORATECARD_INFO SET SALES_NUM = #{SALES_NUM},
		                              ACCOUNT_SUB = #{ACCOUNT_SUB},
		                              BREAKDOWN = #{BREAKDOWN},
		                              MEMO = #{MEMO},
		                              UPT_ID = #{UPT_ID},
		                              UPT_DT = GETDATE(),
		                              USER_ID = #{UPT_ID}
		                          WHERE USE_DATE = #{USE_DATE}
		                            AND ACCOUNT = #{ACCOUNT}
		                            AND COMPANY = #{COMPANY}
		                            AND CARD_NUM = #{CARD_NUM}
		                            AND APPROVAL_NUM = #{APPROVAL_NUM}
	</update>

	<update id="co1100Update" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="; ">
			UPDATE CORPORATECARD_INFO SET SALES_NUM = #{item.SALES_NUM},
			                              ACCOUNT_SUB = #{item.ACCOUNT_SUB},
			                              BREAKDOWN = #{item.BREAKDOWN},
			                              MEMO = #{item.MEMO},
			                              UPT_ID = #{item.UPT_ID},
			                              UPT_DT = GETDATE(),
			                              USER_ID = #{item.UPT_ID}
			                          WHERE USE_DATE = #{item.USE_DATE}
			                            AND ACCOUNT = #{item.ACCOUNT}
			                            AND COMPANY = #{item.COMPANY}
			                            AND CARD_NUM = #{item.CARD_NUM}
			                            AND APPROVAL_NUM = #{item.APPROVAL_NUM}
		</foreach>
	</update>
</mapper>