<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="co1100Mapper">
	<!-- Table 조회 -->
	<select id="co1100Sel" parameterType="map" resultType="map">
		EXEC CO1100_SEL #{COMPANY}, #{CARD_NUM}, #{DATE}, #{USER_ID}
	</select>

	<select id="co1100SelProject" parameterType="map" resultType="map">
		SELECT CONCAT(SALES_NUM, '-', REVISION) AS SALES_NUM
			 , PROJECT_NM
		FROM SALES_INQUIRY_INFO
		WHERE SALES_CONFIRM = 'Y'
		  AND PROJECT_NM LIKE '%' + #{PROJECT_NM} + '%'
	</select>

	<select id="co1100SelList" parameterType="map" resultType="map">
		EXEC CO1100_SEL_LIST #{COMPANY}, #{CARD_NUM}, #{DATE}
	</select>

	<select id="co1101SelList" parameterType="map" resultType="map">
		EXEC CO1101_SEL_LIST #{COMPANY}, #{CARD_NUM}, #{DATE}
	</select>

	<update id="co1100Save" parameterType="map">
		EXEC CO1100_SAVE #{SALES_NUM}, #{ACCOUNT_SUB}, #{APPROVAL_NUM}, #{BREAKDOWN}, #{MEMO}, #{UPT_ID}, #{USE_DATE}, #{ACCOUNT}, #{COMPANY}, #{CARD_NUM}
	</update>
</mapper>