<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="co1200Mapper">
	<!-- Table 조회 -->
	<select id="co1200Sel" parameterType="map" resultType="map">
		SELECT CONVERT(VARCHAR, CONVERT(DATETIME, C.USE_DATE), 23) AS USE_DATE
			 , C.USER_ID
			 , U.USER_NM
			 , C.SALES_NUM
			 , S.PROJECT_NM
			 , (SELECT dbo.FN_COMMON_NM('ACCOUNT', C.ACCOUNT_SUB)) AS ACCOUNT_SUB
			 , C.ACCOUNT
			 , C.BREAKDOWN
			 , CASE WHEN C.REFUND != 0 THEN 0 ELSE C.APPROVAL END AS APPROVAL
			 , C.REFUND
			 , C.MEMO
		FROM CORPORATECARD_INFO C
				 LEFT OUTER JOIN USER_INFO U ON C.USER_ID = U.USER_ID
				 LEFT OUTER JOIN SALES_INQUIRY_INFO S ON C.SALES_NUM = S.SALES_NUM
		WHERE CONVERT(CHAR(10), CONVERT(DATETIME, C.USE_DATE), 20) BETWEEN #{START} AND #{END}
		  AND C.SALES_NUM LIKE '%' + #{SALES} + '%'
		  AND U.USER_NM LIKE '%' + #{USER_NM} + '%'
		  AND U.DEPT_CD LIKE '%' + #{DEPT} + '%'
		ORDER BY C.USE_DATE;
	</select>

	<select id="co1200SelExpense" parameterType="map" resultType="int">
		SELECT EXPENSE_PRICE FROM SALES_INQUIRY_EXPENSE WHERE SALES_NUM = LEFT(#{SALES}, 12) AND REVISION = RIGHT(#{SALES}, 2)
	</select>

	<select id="co1200SelApproval" parameterType="map" resultType="int">
		EXEC CO1200_SEL_APPROVAL #{START}, #{END}, #{SALES}
	</select>
</mapper>