<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
    <!-- 다국어 조회 -->
    <select id="getLangCode" parameterType="map" resultType="map">
		EXEC GET_LANGCODE #{SCREEN}, #{TYPE}, #{LANG}
    </select>
    
	<!-- 공통코드 조회 -->
    <select id="getCommonCode" parameterType="map" resultType="map">
		EXEC GET_COMMONCODE #{sysClassCd}
    </select>
    
	<!-- 공통코드 조회 -->
    <select id="getCommonCodeEsc" parameterType="map" resultType="map">
		EXEC GET_COMMONCODE_ESC #{sysClassCd}
    </select>

    <!-- 카드정보 조회 -->
    <select id="getCommonCodeCard" parameterType="map" resultType="map">
        EXEC GET_COMMONCODE_CARD #{sysClassCd}, #{USER_ID}
    </select>

    <!-- 권한분류 조회 -->
    <select id="getAuthCode" parameterType="map" resultType="map">
		EXEC GET_AUTHCODE
	</select>
    
    <!-- 로그 저장 -->
    <insert id="insertMenuLog" parameterType="map">
		EXEC MENULOG_INS #{SYS_ID}, #{USER_ID}, #{MENU_ID}, #{USER_IP}, #{HOST_NM}, #{DEPT_CD}
    </insert>
    
    <!-- 예외사항 저장 -->
    <insert id="insertExceptionLog" parameterType="map">
		EXEC EXCEPTIONLOG_INS #{USER_ID}, #{USER_IP}, #{EVNT_NM}, #{false}, #{EVNT_DETAIL}, #{EVNT_SVRY}, #{PROG_NM}, #{HOST_NM}
    </insert>
    
    <!-- 권한부여/변경 사항 저장 -->
    <insert id="insertAuthChange" parameterType="map">
		EXEC EXCEPTIONAUTH_INS #{USER_ID}, #{USER_IP}, #{EVNT_NM}, #{EVNT_SVRY}, #{HOST_NM}, #{DEPT_CD}
    </insert>    
    
    <!-- 사용자 정보 변경 저장 -->
    <insert id="insertUserInfo" parameterType="map">
    	EXEC CM0000_EXCEPTION_USER_INS #{REG_USERID}, #{REG_IP}, #{HOST_NM}, #{USER_ID}
    </insert>
    
    <!-- 시스템코드 목록 -->
    <select id="selectLists" parameterType="map" resultType="map">
    	SELECT A.SYS_ITEM_CD AS CODE
    		 , A.SYS_ITEM_NAME AS VALUE
		  FROM SYSCODE_DETAIL A
		 WHERE A.SYS_CLASS_CD = #{LIST_TYPE}
		 ORDER BY A.SYS_ITEM_CD
    </select>
    
</mapper>