<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
    <!-- 다국어 조회 -->
    <select id="getLangCode" parameterType="map" resultType="map">
        SELECT TYPE,
               SUBSTRING(UNIQUE_ID, CHARINDEX('_', UNIQUE_ID) + 1, LEN(UNIQUE_ID)) AS UNIQUE_ID,
               KOR_NM,
               ISNULL((CASE WHEN #{LANG} = 'KOR' THEN KOR_NM WHEN #{LANG} = 'ENG' THEN ENG_NM WHEN #{LANG} = 'CHN' THEN CHN_NM ELSE KOR_NM END), KOR_NM) AS LANG
        FROM MESSAGE_INFO
        WHERE LEFT(UNIQUE_ID, #{TYPE}) LIKE '%' + #{SCREEN} + '%'
          AND USE_YN = 'Y'
        ORDER BY TYPE, SORT_NO;
    </select>
    
	<!-- 공통코드 조회 -->
    <select id="getCommonCode" parameterType="map" resultType="map">
		EXEC GET_COMMONCODE #{sysClassCd}
        SELECT SYS_CLASS_CD, SYS_ITEM_CD, SYS_ITEM_NAME, USE_YN, MEMO
        FROM SYSCODE_DETAIL
        WHERE SYS_CLASS_CD = #{sysClassCd}
          AND USE_YN = 'Y';
    </select>
    
	<!-- 공통코드 조회 -->
    <select id="getCommonCodeEsc" parameterType="map" resultType="map">
        SELECT SYS_CLASS_CD, SYS_ITEM_CD, SYS_ITEM_NAME, USE_YN, MEMO
        FROM SYSCODE_DETAIL
        WHERE SYS_CLASS_CD = #{sysClassCd}
          AND USE_YN = 'Y'
        ORDER BY SYS_ITEM_NAME;
    </select>

    <!-- 카드정보 조회 -->
    <select id="getCommonCodeCard" parameterType="map" resultType="map">
        SELECT COMPANY,
               (SELECT SYS_ITEM_NAME FROM SYSCODE_DETAIL S WHERE SYS_CLASS_CD LIKE #{sysClassCd} AND SYS_ITEM_CD LIKE COMPANY) AS COMPANY_NM,
               CARD_NUM
        FROM CARD_INFO
        <if test='DEPT_CD != "M"'>
            WHERE USER_ID = #{USER_ID}
        </if>
        ORDER BY COMPANY;
    </select>

    <!-- 권한분류 조회 -->
    <select id="getAuthCode" parameterType="map" resultType="map">
        SELECT AUTH_TYPE_CD, AUTH_TYPE_NAME FROM AUTH_TYPE_HEAD WHERE USE_YN = 'Y';
	</select>
    
    <!-- 로그 저장 -->
    <insert id="insertMenuLog" parameterType="map">
        INSERT INTO LOG_ACCESS(SYS_ID, PROCESS_DT, USER_ID, MENU_ID, MENU_NAME, USER_IP, HOST_NM, DEPT_CD)
        VALUES(#{SYS_ID}, CONVERT(VARCHAR(19), GETDATE(), 121), #{USER_ID}, #{MENU_ID},
                (SELECT dbo.FN_MENU_NM(#{MENU_ID})), #{USER_IP}, #{HOST_NM}, #{DEPT_CD})
    </insert>
    
    <!-- 예외사항 저장 -->
    <insert id="insertExceptionLog" parameterType="map">
        INSERT INTO LOG_EXCEPTION(SYS_ID, PROCESS_DT, USER_ID, USER_IP, EVNT_CD, EVNT_NM, EVNT_DETAIL, EVNT_SVRY,
                                  PROG_NM, HOST_NM)
        VALUES('HCNC', CONVERT(VARCHAR(19), GETDATE(), 121), #{USER_ID}, #{USER_IP}, #{EVNT_CD}, #{EVNT_NM},
                #{EVNT_DETAIL}, #{EVNT_SVRY}, #{PROG_NM}, #{HOST_NM});
    </insert>

    <insert id="insertExceptionLog2" parameterType="com.hs.util.ExceptionLogDto">
        INSERT INTO LOG_EXCEPTION(SYS_ID, PROCESS_DT, USER_ID, USER_IP, EVNT_CD, EVNT_NM, EVNT_DETAIL, EVNT_SVRY,
                                  PROG_NM, HOST_NM)
        VALUES('HCNC', CONVERT(VARCHAR(19), GETDATE(), 121), #{user.USER_ID}, #{user.USER_IP}, #{eventCd}, #{eventNm},
               #{eventDetail}, #{eventSvry}, #{progNm}, #{hostNm});
    </insert>
    
    <!-- 권한부여/변경 사항 저장 -->
    <insert id="insertAuthChange" parameterType="map">
        INSERT INTO LOG_USER_AUTH(SYS_ID, PROCESS_DT, USER_ID, USER_IP,
                                  EVNT_NM, EVNT_SVRY, HOST_NM, DEPT_CD)
        VALUES('HCNC', CONVERT(VARCHAR(19), GETDATE(), 121), #{USER_ID},
               #{USER_IP}, #{EVNT_NM}, #{EVNT_SVRY}, #{HOST_NM}, #{DEPT_CD});
    </insert>    
    
    <!-- 사용자 정보 변경 저장 -->
    <insert id="insertUserInfo" parameterType="map">
        INSERT INTO LOG_USER_INFO(SYS_ID, PROCESS_DT, REG_USER, REG_IP, EVNT_NM, EVNT_SVRY,
                    HOST_NM, USER_ID, USER_NM, DEPT_CD, GRADE_CD, AUTH_TYPE_CD, ENTER_DT)
        SELECT 'HCNC' AS SYS_ID, CONVERT(VARCHAR(19), GETDATE(), 121), #{REG_USERID}, #{REG_IP}, '사용자정보 변경', '중', #{HOST_NM},
               #{USER_ID}, USER_NM, DEPT_CD, GRADE_CD, AUTH_TYPE_CD, ENTER_DT
        FROM USER_INFO
        WHERE USER_ID = #{USER_ID};
    </insert>
    
    <!-- 시스템코드 목록 -->
    <select id="selectLists" parameterType="map" resultType="map">
    	SELECT SYS_ITEM_CD AS CODE, SYS_ITEM_NAME AS VALUE
		  FROM SYSCODE_DETAIL
		 WHERE SYS_CLASS_CD = #{LIST_TYPE}
		 ORDER BY SYS_ITEM_CD
    </select>

    <select id="selectSalesNum" parameterType="map" resultType="map">
        SELECT DISTINCT PROJECT_NM AS CODE, SALES_NUM AS VALUE FROM SALES_INQUIRY_INFO
    </select>
</mapper>