@charset "UTF-8";

/*  MAIN 페이지 CSS */
.main-page section{padding:20px; border-radius:10px;}
.main-page .row:not(:first-child){margin-top:20px;}
.main-page .col:not(:first-child){padding-left:20px;}
.title-home{font-size:26px; font-family:'LotteMartDream', sans-serif; font-weight:700;}
.title-home:before{content:''; display:inline-block; width:25px; height:25px; margin-right:10px; transform:translateY(1px); background:url(../img/main/ico-home-title.png) no-repeat center center;}
.main-page > .row-3{height:calc(100vh - 650px); min-height:300px;}
.main-page h3{font-size:20px; font-weight:700; margin-bottom:10px;}
.main-approve{background-color:#fff; text-align:center; color:#333; padding:25px; border-radius:10px;}
.main-page .main-approve h3{font-size:20px; font-weight:500; margin-top:15px;}
.main-alarm{display:inline-block; position:relative; width:33px; height:33px; margin-right:10px; background: url(../img/main/main-alarm.png) no-repeat center;}
.main-alarm.on:after{content:''; display:block; position:absolute; width:13px; height:13px; right:1px; bottom:2px; background-color:#29d56e; border-radius:50%;}
.main-appvove-img{display:block; position:relative; width:93px; height:93px; margin:20px auto 10px; background: url(../img/main/main-doc.png) #e03657 no-repeat center; border-radius:20px; transition:all 0.3s;}
.main-approve-txt{font-size:60px; font-family:'LotteMartDream', sans-serif; font-weight:700;}
.main-approve-txt a{color:#333; border-bottom:1px solid rgba(0,0,0,0);}
.main-approve-txt a:hover{border-bottom:1px solid #333;}
.main-approve-txt:after{content:'건'; font-size:18px; opacity:0.62; margin-left:4px; display: inline-block; transform: translateY(-2px);}
.main-work-wrap{display:flex; width:100%;}
.main-work-wrap h4{text-align:center; margin-bottom:16px; font-family:'LotteMartDream', sans-serif; font-size:21px;}
.main-work-wrap h4 a{color:#1f1f1f; font-weight:700;}
.main-work-wrap > div{width:calc(33.33% - 13px);}
.main-work-wrap > div:not(:first-child){margin-left:20px;}
.main-work-wrap > div:nth-child(1){background-color:#fef0d4; border:1px solid #eee1c2;}
.main-work-wrap > div:nth-child(1) h4{color:#ef7614;}
.main-work-wrap > div:nth-child(1) ul li h5:before{background-color:#ef7614;}
.main-work-wrap > div:nth-child(2){background-color:#dfedf5; border:1px solid #c7dce8;}
.main-work-wrap > div:nth-child(2) h4{color:#248ac7;}
.main-work-wrap > div:nth-child(2) ul li h5:before{background-color:#248ac7;}
.main-work-wrap > div:nth-child(3){background-color:#fbe7ea; border:1px solid #eeccd2;}
.main-work-wrap > div:nth-child(3) h4{color:#de012b;}
.main-work-wrap > div:nth-child(3) ul li h5:before{background-color:#de012b;}
.main-work-list{background-color:#f5f5f5; border:1px solid #dadada; border-radius:10px; padding:15px 20px 20px;}
.main-work-list ul{display:flex; height:calc(100% - 40px); flex-flow:column; justify-content:center !important;}
.main-work-list ul li{width:100%; display:flex; justify-content:space-between; align-items:center;}
.main-work-list ul li:not(:first-child){margin-top:5px;}
.main-work-list ul li h5{font-size:17px; color:#333; font-weight:500; display:flex; justify-content:space-between; align-items:center;}
.main-work-list ul li h5:before{content:''; width:4px; height:4px; background-color:#8e8e8e; border-radius:2px; margin-right:5px;}
.main-work-list ul li p{font-family:'LotteMartDream', sans-serif; color:#333; font-weight:700; font-size:32px; text-align:right;}
.main-work-list ul li p:after{content:'건'; display:inline-block; font-size:15px; color:#666; margin-left:4px; opacity:0.7; transform:translateY(-2px);}
.main-work-list ul li .a-wrap{display:flex; justify-content:flex-end; align-items:center;}
.main-work-list ul li a{display:block; width:15px; height:15px; margin-left:10px;}
.main-work-list ul li a:not(.off):hover{animation: VectorMove 1s infinite linear;}
@keyframes VectorMove{
	0%{transform:translateX(0);}
	25%{transform:translateX(2px);}
	50%{transform:translateX(1px);}
	75%{transform:translateX(-1px);}
	100%{transform:translateX(0);}
}
.main-list{background:url(../img/main/main-cont1-vector1.png) no-repeat center center;}
.main-list.off{opacity:0.5;  background:url(../img/main/main-cont1-vector-off.png) no-repeat center center; cursor:default;}
.main-list-type1 li{color:#ef7614;}
.main-list-type1 li a{background:url(../img/main/main-cont1-vector1.png) no-repeat center center;}
.main-list-type2 li{color:#248ac7;}
.main-list-type2 li a{background:url(../img/main/main-cont1-vector2.png) no-repeat center center;}
.main-list-type3 li{color:#de012b;}
.main-list-type3 li a{background:url(../img/main/main-cont1-vector3.png) no-repeat center center;}
.user-on{display:block; width:75px; height:29px; padding:0 10px; font-size:22px; text-align:right; border-radius:60px; background-color:#ef7614; color:#fff; font-family:'LotteMartDream', sans-serif;}
.user-on:after{position:relative; content:'명'; font-size:12px; opacity:0.7; margin-left:4px; display:inline-block; transform:translateY(-2px);}
.user-on-list-wrap{height:calc(100% - 42px); padding:12px 10px; background-color:#f3f3f3; border:1px solid #eaeaea; border-radius:10px;}
.user-on-list-wrap ::-webkit-scrollbar-thumb{background-color:#b3b6bf;}
.user-on-list-wrap ::-webkit-scrollbar-track{background-color:rgba(0,0,0,0);}
.user-on-list{height:190px; overflow:auto;}
.user-on-list ul li{padding:7px 12px 7px 7px; display:flex; justify-content:space-between; align-items:center;}
.user-on-list ul li a{font-size:15px; display:flex; align-items:center;}
.user-on-list ul li a:before{display:block; content:''; width:24px; height:24px; margin-right:14px; background: url(../img/main/ico-profile-gray.png) no-repeat center;}
.user-on-list ul li .user-time{font-size:14px; opacity:0.75; display:flex; justify-content:flex-end; align-items:center;}
.user-on-list ul li .user-time span{width:45px; text-align:right;}
.user-on-list ul li .user-time span:last-child{width:36px;}
.ico-clock{display:block; content:''; margin:auto 5px; width:15px; height:15px; background: url(../img/main/main-clock.png) no-repeat center;}
.link-wrap{background-color: #fff; border: 1px solid #dee0e3; box-shadow: 0 3px 6px rgb(0 0 0 / 7%); font-size:20px; font-weight:700; border-radius: 10px;display:flex; justify-content:space-between; align-items:center; height:110px; padding:20px 20px 20px 110px; background-position:20px center; background-repeat:no-repeat; transition:all 0.4s;}
.link-wrap:after{content:''; display:block; width:35px; height:35px; border-radius:50%; background: url(../img/main/main-link.png) no-repeat center;}
.link-type1{position:relative; background-image:url(../img/main/link-type1.png);}
.link-type1 span{position:absolute; left:220px; top:41px; padding-left:18px; font-size:20px; font-weight:400;}
.link-type1 span:before{content:''; display:block; position:absolute; left:0; top:3px; width:1px; height:20px; border-radius:2px; background-color:#ccc;}
.link-type1 span:after{content:'건'; display:inline-block; font-size:16px; margin-left:4px;}
.link-type1:hover span:before{background-color:#fff;}
.link-type2{background-image:url(../img/main/link-type2.png);}
.link-type3{background-image:url(../img/main/link-type3.png);}
.link-type4{background-image:url(../img/main/link-type4.png);}
.link-type1:hover{background-color:#e03657;}
.link-type2:hover{background-color:#f59548;}
.link-type3:hover{background-color:#3a9dd8;}
.link-type4:hover{background-color:#41bc5e;}
.link-wrap:hover{color:#fff; animation-duration:0.8s; animation-name:bounce;}
@keyframes bounce{
	0% {
		padding-right:20px;
	}
	5% {
		padding-right:40px;
	}
	100% {
		padding-right:20px;
	}
}
.notice-list{width:100%; height:calc(100% - 10px); min-height:180px; margin-top:10px; padding-top:12px; border-top:1px solid #d9d9d9;}
.notice-list ul{height:100%;}
.notice-list ul li{height:14%; display:flex; justify-content:space-between; align-items:center; font-size:15px; padding:6px 10px;}
.notice-list ul li:hover, .notice-list ul li:hover a{color:#ff3f14; background-color:#ffffdc;}
.notice-list ul li:hover a{color:#ff3f14;}
.notice-list ul li a{width:100%; display:flex; justify-content:space-between;}
.notice-list ul li a > span:nth-child(2){width:calc(100% - 220px);}
.main-btn-add{display:block; font-size:15px; padding:7px 10px 7px 34px; color:#fff; border-radius:4px; background:url(../img/main/main-add-wh.png) #3f4653 no-repeat 10px center;}
.link-list{width:100%; height:calc(100% - 42px); min-height:180px; margin-top:10px; padding-top:12px; border-top:1px solid #d9d9d9;}
.link-list ul{height:100%; font-size:0;}
.link-list li{display:inline-block; width:calc(50% - 5px); height:calc(20% - 8px);}
.link-list li:nth-child(2n){margin-left:10px;}
.link-list li:nth-child(n+3){margin-top:10px;}
.link-list li a{display:flex; align-items:center; width:100%; height:100%; font-size:18px; border: 1px solid #eceef2; padding:0 20px 0 40px; border-radius:10px; background:url(../img/main/main-vec.png) #eceef2 no-repeat 20px center; transition:all 0.6s;}
.link-list li a:hover{padding-left:44px; color:#0000ff; border: 1px solid #0000ff; background:url(../img/main/main-vec-h.png) #eff3ff no-repeat 24px center;}
.main-btn-setting{display:block; font-size:15px; padding:7px 16px 7px 38px; color:#fff; border-radius:4px; background:url(../img/main/main-setting.png) #3f4653 no-repeat 10px center;}

/*  LOGIN 페이지 CSS */
.login-page-wrap {min-width: 1400px; background-color: #fff; position: relative;  width: 100%; height: 100%;}
.login-wrap {position:relative; width:100%; height:calc(100% - 40px); padding: 50px 50px 50px 50px;}
.login-box-wrap {display: flex; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; max-width:770px; margin:0 auto; box-shadow: 0px 3px 5px 2px rgba(0 0 0 / 15%);}
.login-box-wrap .left-box {text-align: center; background: url(../img/common/login-bg.png) no-repeat 50% 70% #218fe5; padding: 60px 50px; min-width: 350px; }
.login-box-wrap .left-box .login-logo {margin-bottom: 10px;}
.login-box-wrap .left-box h1 {font-size: 32px; font-weight: 600; color: #fff;}
.login-box-wrap .left-box p {color: #fff; font-size: 20px; font-weight: 400; position: absolute; bottom: 45px;}
.login-box-wrap .right-box {padding:70px 60px; background-color:#f6f6f6; text-align:center; min-width: 420px; position: relative;}
.login-box-wrap .right-box::after {content: ""; display: inline-block; position: absolute; background: url(../img/common/ico-lock.png) no-repeat 50% 50% #f6f6f6; width: 80px; height: 80px; border-radius: 50px; top: 50%; left: 0px; transform: translate(-50%, -50%);}
.login-box-wrap .right-box h2 {font-size: 22px; font-weight: 600; color: #333; margin-bottom: 30px;}
.login-box-wrap .right-box .login-input label {color: #a8a8a8; font-weight: 400; display: inline-block;}
.login-box-wrap .right-box .login-input::placeholder {color: #a8a8a8; font-size: 13px;}
.login-box-wrap .right-box .login-input input[type="text"] {width:100%; background-color:#fff; color: #a8a8a8; border:1px solid #DCDCDC !important; font-size:17px; padding: 10px 10px; height: 50px; border-radius:4px !important; margin-bottom:20px;}
.login-box-wrap .right-box .login-input input[type="password"] {width:100%; background-color:#fff; color: #a8a8a8; border:1px solid #DCDCDC !important; font-size:17px; padding:10px 10px; height: 50px; border-radius:4px !important; font-family: 'Pretendard';}
.login-box-wrap .login-check {margin: 20px 0px 20px 0px; text-align: left;}
.login-box-wrap .right-box .login-check input[type="checkbox"]::before {width:13px; height:13px; border-radius:2px; background-color:#fff !important; border:1px solid #dcdcdc; line-height: 13px;}
.login-box-wrap .right-box .login-check input[type="checkbox"] {margin-top:0; display: inline-block;}
.login-box-wrap .right-box .login-check label {margin-right: 20px;}
.login-box-wrap .right-box .login-check label:last-child {margin-right: 0;}
.login-box-wrap .right-box .btn-login{width:100%; display:block; background-color: #218fe5; color:#fff; padding:18px 10px; font-size:20px; font-weight:400; border-radius:4px; border:none;}
.login-box-wrap .right-box p {color: #218fe5; font-size: 14px; margin-top: 30px;}
.login-detail {margin-top:30px;}
.login-detail > ul {display:block; margin:0 auto; font-size:0;}
.login-detail > ul > li {font-size:14px; display:inline-block;}
.login-detail > ul > li:not(:last-child):after {content:''; display:inline-block; width:1px; height:12px; background-color:#ccc; margin:0 20px; transform:translateY(2px);}
.msg {margin: 10px 0px 10px 0px;}

/*팝업*/
.popup{display:none; position:absolute; width:470px; height:445px; border:1px solid #ccc; border-radius:6px; overflow:hidden; background-color:#ffffff; z-index:100}
.popup-header{background-color:#434661; color:#fff; font-size:16px; font-weight:600; padding-bottom:15px; padding-top:15px; text-align:center;}
.tab-contents > .popup:nth-child(2n-1) .popup-header{background-color:#434661;}
.popup-contents{background-color:#f7f7f7; line-height:1.5; overflow-y:auto; padding:15px 20px; width:469px; height:353px;}
.popup-footer{cursor:pointer;background-color:#dedede;text-align: right;padding-bottom: 6px;padding-top: 6px; padding-right:10px;}
.popup-todayclose{color:#565656; font-size:14px; margin-right:10px;}
.popup-close{display:inline-block; padding:4px 10px 5px 30px; border-radius:2px; background:url(../img/common/ico-popupclose.png) #888992 no-repeat 10px center; color:#fff; font-size:15px;}
.popup ::-webkit-scrollbar-thumb{background-color:#BBBBBB;}
.popup ::-webkit-scrollbar-track{background-color:#f1f1f1;}

/*footer*/
.login-page-wrap footer {padding: 10px 30px; text-align: center; background-color: #e8e8e8; height: 40px;}
.login-page-wrap footer p {font-size: 14px; color: #807a73;}